@media (min-width: 1419px) {
  .container {
    width: 567px;
    height: 436px;  /* fixed width after 1200px */
  }
}

/* LG --> SMALL LAPTOPS: 1024px - 1280px */
@media (max-width: 72rem) {
    /* 1150px / 16px = 71.875rem */
    /* 72 * 16px = 1152px */

    html {
        /* 9px / 16px = 0.5625 */
        font-size: 56.25%;
    }
}

/* MD --> TABLETS: 768px - 1024px */

@media (max-width: 51rem) {
    /* 815px / 16px = 50.9375rem */
    /* 51rem * 16px = 816px */

    html {
        /* 8px / 16px = 0.5 */
        font-size: 50%;
    }

    .container{
        width: 50%;
    }
}

/* SM --> PHONE LANDSCAPE: 576px - 768px */

@media (max-width: 43rem) {
    /* 680px / 16px = 42.5rem */
    /* 43rem * 16px = 688px */

    html {
        /* 7px / 16px = 0.4375 */
        font-size: 43.75%;
    }

    .container{
       grid-template-columns: 1fr;
       grid-template-rows: auto auto;

       background-color: transparent;
    }

    .perfume-image{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .perfume-image img{
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem;
    }

    .content{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        background-color: var(--white);

        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }


}

/* XS --> PHONE POTRAIT: < 576px */

@media (max-width: 34rem) {
    /* 530px / 16px = 33.125rem */
    /* 34rem * 16px = 544px */

    html {
        /* 6px / 16px = 0.375 */
        font-size: 37.5%;
    }
}